@font-face {
    font-family: didotRegular;
    src: url(/Fonts/didot\ fonts\ family/Didot\ Regular.ttf);
}
@font-face {
    font-family: didotMedium;
    src: url(/Fonts/didot\ fonts\ family/Didot\ Medium.ttf);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'didotRegular';
}

.anchor{
    text-decoration: none;
    color: black;
}

.anchor:hover{
    color: black;
}

/* Video Background */

.slide{
    position: fixed;
    right: 0;
    bottom: 0; /* it was 0*/
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .slide a img{
        
    }
}

.arrow-up{
    position: absolute;
    top: 6rem;
    right: 4rem;
    cursor: pointer;
    border: none;
    background: none;
}

.arrow-down{
    position: absolute;
    bottom: 6rem;
    right: 4rem;
    cursor: pointer;
    border: none;
    background: none;
}

/* Navigation Bar */
nav{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav h1{
    font-family: 'didotRegular';
    font-size: 6rem;
    letter-spacing: -20px;
    font-weight: 400;
}

nav .bars{
    cursor: pointer;
}

.nav-right{
    margin-left: auto;
    margin-bottom: 4rem;
}

.search-bar{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.9rem;
    font-weight: 100;
}

.search-bar u{
    color:rgb(0, 0, 0);
}

.nav-right button{
    margin: 1rem;
    border: none;
    background: none;
    font-weight: 100;
}

.gender{
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-weight: 300;
}

@media only screen and (max-width: 900px) {
    .search-container{
        visibility: hidden;
        display: none;
    }
  }

  @media screen and (max-width: 800px) {
      .login, .help, .credits{
          visibility: hidden;
          display: none;
      }
  }


/* Sidebar - Categories */

.categories{
    
}

.sidebar-container{
    width: 25%;
    background-color: white;
    position: static;
    height: 85vh;
    z-index: 3;
    margin-left: 10px;
}

.cat-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-container button{
    border: none;
    margin: 1rem;
    background: none;
    font-weight: 100;
    font-size: 0.9rem;

}

.cloth-cat{
    font-weight: 100;
    list-style: none;
    text-decoration: none;

}

.cat-container button:hover{
    font-weight: 400;
    border-bottom: 1px black double;
}

.cloth-cat li{
    margin-top: 0.3rem;
    cursor: pointer;
}

.cloth-cat li a{
    text-decoration: none;
    color: black;
}

.cloth-cat li a:hover{
    color: rgb(103, 104, 105);
}

.offcanvas{
    background-color:rgb(255, 255, 255) !important;
    transition: 0.8s !important;
}

.modal-backdrop.show {
    opacity: 0 !important; 
}